.appColorRating{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colorForm{
  padding: 12px 10%;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  border-radius: 5%;
}
.color-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 10%;
}
section.color{
  border: 1px solid #eee;
  margin: 5px;
  box-shadow: 0 2px 2px #ccc;
  width: 200px;
  position: relative;
}
section.color button{
  position: absolute;
  right: 0;
}
.colorContainer{
  width: 100%;
  height: 100px;
}