.degrade {
  height: 400px;
  width: 400px;
  position: absolute;
}
.degBox1 {
  background-image: linear-gradient(to bottom right,
                                    rgba(0,0,255,0),
                                    rgba(0,0,255,1));
}
.degBox2 {
  background-image: linear-gradient(to top left,
                                    rgba(255,0,0,0),
                                    rgba(255,0,0,1));
}
.degBox3 {
  background-image: linear-gradient(to bottom left,
                                    rgba(0,255,0,0),
                                    rgba(0,255,0,1));
}
.degBox4 {
  background-image: linear-gradient(to top left,
                                    rgba(255,255,255,0),
                                    rgba(255,255,255,0.5));
}

.histogramCanvas{
  width: 400px;
}
.histogramBar
{
  background-color: green;
}